/* More styles in Signup.css */

#Pic_round {
  position: relative;
}

#userimage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(/images/userpicture_example.jpg);
  background-position: cover;
  object-fit: contain;
  background-size: 150px;
}

h2,
h3 {
  margin: 0;
}

h3 {
  margin-bottom: 30px;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

#formSignUp {
  margin-bottom: 50px;
}
