.buttonList_newCourt {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  outline: none;
  margin-bottom: 0px;
}

#sizeField {
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#lessMargin {
  margin-top: -40px;
}
