.buttonList_newCourt {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  outline: none;
}

#sizeField {
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
