#backgroundHome {
  background-image: url(/images/placeholder_maps2.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

#divIconList {
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  bottom: 0;
}

.searchCity {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
