#backgroundHome {
  background-image: url(/images/placeholder_maps2.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

#divIconList {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  bottom: 0;
}
