#backgroundSignIn {
  background-image: url(/images/background-img-sign-in.jpg);
  background-position: center;
  background-size: cover;
}

#formSignIn {
  margin-top: 70%;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

#forgotPassword {
  text-decoration: none;
  color: var(--main-color-blue);
  font-size: 0.8em;
}

p {
  font-size: 0.8em;
  margin-top: 50px;
}
