.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  border: solid grey 1px;
  border-radius: 20px;
  background-image: url(/images/background-img-sign-in.jpg);
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .App {
    width: 320px;
    height: 568px;
    margin: auto;
    margin-top: 5vh;
  }
}
